/* TYPE Selector */

body {
    color:#222020;
    text-align: center;
}
.Index22{
    background: url("imgs/BW.jfif") ;
    size-adjust: 2em;
}
main{
    text-align: center;
}
ul{
    color: #fd0101;
}
/* CLASS SELECTOR */
.Title_Line {
    
    color:#b91010
}

.Title_Line {
    font-family:fantasy;
    font-weight: 1900;
    font-weight: lighter;
}

p{  outline: height 2em;
}
/* Relational Selector */
main ul { font-size: 100%;}
li p { color:#1c1a1a ;}

.box{
    color: #1d1d1d;
    text-align: center;
    padding: 1em 1em;
    margin: 1em 1em;
    border: 3em outset rgb(234, 27, 27);
    border-radius: 30em;
}

#GT{
    float: left;
    width: 450px;
    border-radius: 50px;
}
#Fx4{
    float: right;
    width: 450px;
    border-radius: 50px;
}
#A5{
    clear:both;
    float: left;
    width: 450px;
    border-radius: 50px;
}
#F150{
    
    float: right;
    width: 450px;
    border-radius: 50px;
div#hp{
    display: flex;
flex-direction: row;
}
#Cal250{
    float: left;
    border-radius: 1em;
   margin-left: 1em;
   
}
#Mustang_1970{
    float: right;
    border-radius: 1em;
   margin-right: 1em;
  
}
#Car_S{
    font-size: 25px;
    color: #000000;
}
footer{
    clear: both;
}
.Car_Specs_B{
     background: url("imgs/BW.jfif") ;
}
div.NL{
    clear: both;
    border-radius: 1em;
    justify-content:space-around;
display: flex;
flex-direction: row;
}
.fc{
     background: url("imgs/BW.jfif") ;
}
#RWB{
    float: left;
}
#M67{
 float: right;
}
// <uniquifier>: Use a unique and descriptive class name

.edu-au-vic-wa-nt-pre-<MR> {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.bs{
    float: right;
}

    
