/* TYPE Selector */

body {
    color:#ff5500;
    text-align: center;
}
.Index22{
    background-image:url(imgs/Checkered_Flag.jfif);
    size-adjust: 2em;
}
main{
    text-align: center;
}
ul{
    color: #fd0101;
}
/* ID SELECTOR */
.Car_S{
    color: #ff0404;
    clear: both;
    
}
/* CLASS SELECTOR */
.Title_Line {
    
    color:#ff7f50
}

.Title_Line {
    font-family:fantasy;
    font-weight: 1900;
    font-weight: lighter;
}

p{  outline: height 2em;
}
/* Relational Selector */
main ul { font-size: 100%;}
li p { color:#ff0000 ;}

.box{
    color: #f60303;
    text-align: center;
    padding: 1em 1em;
    margin: 1em 1em;
    border: 3em outset rgb(163, 21, 21);
    border-radius: 30em;
}

#GT{
    float: left;
    width: 450px;
    border-radius: 50px;
}
#Fx4{
    float: right;
    width: 450px;
    border-radius: 50px;
}
#A5{
    clear:both;
    float: left;
    width: 450px;
    border-radius: 50px;
}
#Cal250{
    float: left;
    Width: 600
}
#Mustang_1970{
    float:right;
    width: 600px;
}
#Car_S{
    font-size: 25px;
    color: #f60303;
    aline: center;
}
footer{
    clear: both;
}
.Car_Specs_B{
 
}


    
